.chat{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  background: #313338;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow-y: auto;
}

.main-header {
  padding: 16px;
  background: #23272a;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #222;
}

.main-chat-screen{
  flex: 1;
  overflow-y: auto;
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-chat-screen::-webkit-scrollbar {
  width: 8px;
  background: hide;
}

.main-chat-screen::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 4px;
  width: 4px;
}

.main-chat-screen::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.2);
  cursor: grab;
}

.main-chat-screen::-webkit-scrollbar-thumb:active{
  cursor: grabbing;
}

.main-message{
  padding: 16px;
  background: #383a40;
  display: flex;
  align-items: center;
  gap: 12px;
}

.message-send{
  background: #5865f2;
  cursor: not-allowed;
  flex: .1;
  margin-top: 0;
}

.message{
  display: flex;
  align-items: flex-start;
  gap: 2%;
  padding-top: 10px;
  width:100%;
}

.message-pfp{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background:#5865f2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.message-user{
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
}

.message-info{
  width:100%;
  display: flex;
  flex-direction: column;
}

.message-meta{
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
}

.message-time{
  color: #b9bbbe;
  font-size: 0.85rem;
  margin-left: auto;
}

.message-text{
  color: '#dcddde';
  font-size: '1rem';
  margin-top: '2px';
}
