/* this stuff is left sidebar*/
.messages {
  width: 250px;
  background: #232428;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  border-right: 1px solid #222;
  height: 100vh;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.messages-options{
  margin-bottom: 10px;
  border-radius: 12px;
  justify-items: center;
  margin-top: auto;
}

.menu-input{
  background-color: rgb(82, 82, 82);
  border: 1px solid #222
}

.menu-button{
  box-shadow: 0 4px 32px rgba(0,0,0,0.4);
  
}