.input{
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background: #202225;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.button{
  flex: 1 ;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: bold;
  opacity: 0.7;
  display:block;
  width:97%;
  margin-top: 5;
  background: #232428;
}

.button:hover{
  opacity:0.5
}

.text{
  padding: 0 16px;
  margin-bottom: 8px;
  color: #b9bbbe;
  font-weight: bold;
  font-size: 1rem;
}