services:
  api:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - ml
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app

  ml:
    build: ./ml
    ports:
      - "8000:8000"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./ml
          target: /app

        - action: restart
          path: ./ml/requirements.txt
